game definition/game_definition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://ciberscratch.uned.com"
           xmlns:game="https://ciberscratch.uned.com"
		   xmlns:dc="http://purl.org/dc/elements/1.1/"
           elementFormDefault="qualified">
<xs:import namespace="http://purl.org/dc/elements/1.1/"  schemaLocation="http://dublincore.org/schemas/xmls/qdc/2008/02/11/dc.xsd"/>

    <xs:element name="game" type="game:Game"/>
    <xs:complexType name="Game">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[La raíz de la definición del juego es el elemento Game. El documento XML y sus recursos deben estar contenidos con cierto orden en el paquete del juego.]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="case" type="game:Case" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="character" type="game:Character" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dc:title" />
			<xs:element ref="dc:creator" />
			<xs:element ref="dc:subject" />
			<xs:element ref="dc:language" />
			<xs:element ref="dc:date" />
			<xs:element ref="dc:rights" />
			<xs:element ref="dc:description" />
        </xs:sequence>
        <xs:attribute name="code" type="xs:string" use="required"/>
		<xs:attribute name="version" type="xs:string" />
        <xs:attribute name="game_image" type="xs:anyURI"/>
    </xs:complexType>


    <xs:complexType name="Case">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Case se corresponde con un caso del juego. Los casos tienen recursos que deben estar contenidos
            dentro del comprimido para la importación y dentro de la ruta "resources/case/<case_name>/".
            Por ejemplo, si tenemos una ilustración para el caso llamada "caso1.png" y el Dockerfile base para este caso
            con el nombre "dockerfile_caso1" los atributos case_image y base_img_path serán
            "resources/case/<case_name>/caso1.png" y "resources/case/<case_name>/dockerfile_caso1" respectivamente.
            Obviamente, los ficheros físicos tendrán que ir en esa ruta dentro del comprimido.]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="story" type="game:Story"/>
            <xs:element name="mission" type="game:Mission" maxOccurs="unbounded"/>
			<xs:element name="context" type="game:Context" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dc:title" />
			<xs:element ref="dc:creator" />
			<xs:element ref="dc:date" />
			<xs:element ref="dc:description" />
        </xs:sequence>
		<xs:attribute name="code" type="xs:string"/>
        <xs:attribute name="case_image" type="xs:anyURI"/>
    </xs:complexType>
	
	<xs:complexType name="ContextType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Context Type indica los valores permitidos para los distintos contextos posibles.]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="DockerSimple"/>
                        <xs:enumeration value="DockerCompose"/>
                        <xs:enumeration value="DockerHub"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element ref="dc:description" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" use="required"/>
    </xs:complexType>
	
    <xs:complexType name="Context">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Cada caso puede tener uno o varios contenedores asociados. En caso de ser un contenedor sencillo se creará un fichero Dockerfile que se desplegará
				en el paquete. En el caso de ser un escenario completo con varios contenedores se deberá especificar mediante un fichero docker-compose. En este último caso, también
				poderemos indicar el contenedor al que se debe conectar el jugador mediante "access_node", el protocolo de conexión (ssh por defecto) e incluso el usuario de conexión.]]>
            </xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element name="type_context" type="game:ContextType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="path" type="xs:anyURI"  use="required"/>
		<xs:attribute name="access_node" type="xs:string"/>
        <xs:attribute name="protocol" type="xs:string" default="ssh"/>
        <xs:attribute name="terminal_username" type="xs:string"/>
    </xs:complexType>
	
    <xs:complexType name="Character">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Los Character son los personajes con los que el jugador podrá interactuar  por alguno de los
            tipos de historia. Los personajes pueden tener un avatar, en cuyo caso la ruta al fichero estará indicada
            en el elemento 'avatar_image'. En el caso de que se añada avatar, dicho archivo tendrá que estar contenido
            en el comprimido en la ruta indicada en el elemento avatar_path.
            Por ejemplo, si tenemos un avatar para el personaje llamado "avatar1.png" el atributo 'avatar_image' serán
            "resources/game/characters/avatar1.png". Obviamente, los ficheros físicos tendrán que ir en esa
            ruta dentro del comprimido.]]>
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="character_id" type="xs:ID" use="required"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="full_name" type="xs:string" use="required"/>
        <xs:attribute name="avatar_image" type="xs:anyURI"/>
    </xs:complexType>


    <xs:complexType name="Story">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Story es un fragmento de la historia del caso.]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="message" type="game:Message" maxOccurs="unbounded"/>
			<xs:element ref="dc:title" />
			<xs:element ref="dc:description" />
        </xs:sequence>
        <xs:attribute name="story_id" type="xs:long" use="required"/>
    </xs:complexType>


    <xs:complexType name="MessageType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Story Type identifica el tipo de historia para los valores permitidos.]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="on_screen"/>
                        <xs:enumeration value="pdf"/>
                        <xs:enumeration value="chat"/>
                        <xs:enumeration value="html"/>
                        <xs:enumeration value="audio"/>
						<xs:enumeration value="URL"/>
						<xs:enumeration value="video"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
           <xs:element ref="dc:description" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" use="required"/>
    </xs:complexType>
	
	<xs:complexType name="Message">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Los mensajes pueden contener simplemente texto, el cual irá en el elemento 'plane_text', o bien,
            pueden ser un fichero como por ejemplo un PDF. En ese caso la ruta al fichero estará indicada en el elemento
            'file_path'. En el caso de que sea un fichero, dicho archivo tendrá que estar contenido en el comprimido en la ruta
            indicada en el elemento file_path. Cada mensaje puede tener varias versiones en base a su idioma. 
            Por ejemplo, si tenemos un PDF para el mensaje llamado "mensaje1.pdf" el atributo 'file_path' serán
            "resources/case/<case_name>/messages/<lang>/mensaje1.pdf". Obviamente, los ficheros físicos tendrán que ir en esa
            ruta dentro del comprimido.]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="plane_text" type="xs:string" minOccurs="0"/>
            <xs:element name="file_path" type="xs:anyURI" minOccurs="0"/>
			<xs:element name="message_type" type="game:MessageType" minOccurs="1" maxOccurs="1" />
			<xs:element ref="dc:language" />
        </xs:sequence>
        <xs:attribute name="order" type="xs:int" default="1"/>
        <xs:attribute name="delay_to_show" type="xs:int" default="0"/>
        <xs:attribute name="character_id" type="xs:IDREF"/>
    </xs:complexType>

    <xs:element name="mission" type="game:Mission"/>
    <xs:complexType name="Mission">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Las misisones son los distintos retos que hay dentro del caso. Cada una de ellas puede tener
                una historia inicial y puede tener otra a su fin. Además tienen asociados un artefacto. Los artefactos son 
				recursos para resolver el reto.
                Las misiones están precedidos de otras misiones, cuya finalización da pie al inicio del nuevo. Este flujo
                de misiones se indica con el atributo 'mission_key' de la misión cuyo valor debe ir en el atributo
                'previous_mission_key' de la siguiente misión.]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="mission_intro_story" type="game:Story" minOccurs="0"/>
            <xs:element name="mission_end_story" type="game:Story" minOccurs="0"/>
			<xs:element name="artifact" type="game:Artifact" maxOccurs="unbounded"/>
			<xs:element name="artifact_id" type="xs:IDREF"  maxOccurs="unbounded" />
			<xs:element name="flag" type="game:Flag" minOccurs="0" maxOccurs="1" />
			<xs:element ref="dc:title" />
			<xs:element ref="dc:description" />
        </xs:sequence>
        <xs:attribute name="mission_id" type="xs:ID"/>
        <xs:attribute name="previous_mission" type="xs:IDREF"/>
        <xs:attribute name="delay_start" type="xs:int"/>
        <xs:attribute name="onfinish_cancel_active_missions" type="xs:boolean" default="false"/>
    </xs:complexType>

    <xs:complexType name="ArtifactType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Tipos de artefactos soportados.]]>
            </xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element ref="dc:title" />
			<xs:element ref="dc:description" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:long" use="required"/>
		<xs:attribute name="extension" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="Artifact">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Artefactos contienen claves (hiddenInfos) que son las que aportan puntuación y pueden solventar eventos.
                Los artefactos pueden estar asociados a distintos eventos, event_key sirve para asociarlo con el evento
                que tenga el mismo valor en su campo correspondiente.]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="artifact_type" type="game:ArtifactType" />
            <xs:element name="flag" type="game:Flag" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="dc:title" />
			<xs:element ref="dc:description" />
        </xs:sequence>
        <xs:attribute name="path" type="xs:anyURI"/>
		<xs:attribute name="artifact_id" type="xs:ID"/>
    </xs:complexType>

    <xs:complexType name="Flag">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Este elemento determina el tipo de información oculta que el jugador debe localizar para superar una misión.]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="toolParamValue" type="game:ToolParamValue" minOccurs="0" maxOccurs="unbounded"/>
	        <xs:element name="game_clue" type="game:Clue" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="flag_type" type="game:FlagType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="regex" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="word_list" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="dc:title" />
			<xs:element ref="dc:description" />
        </xs:sequence>
		<xs:attribute name="flag_id" type="xs:ID" use="required"/>
        <xs:attribute name="mission_key" type="xs:IDREF"/>
        <xs:attribute name="random_word_maxlength" type="xs:int"/>
    </xs:complexType>
	
	<xs:complexType name="FlagType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Indica los diferentes mecanismos de generación de banderas para cada misión]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Fixed"/>
                        <xs:enumeration value="RandomRegex"/>
                        <xs:enumeration value="RandomList"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element ref="dc:description" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:long" use="required"/>
    </xs:complexType>
 
    <xs:complexType name="Clue">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Una pista para ayudar al estudiente en el juego.]]>
            </xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element name="clue_text" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
        <xs:attribute name="order" type="xs:long" use="required"/>
    </xs:complexType>

    <xs:element name="tools" type="game:Tools"/>
    <xs:complexType name="Tools">
        <xs:sequence maxOccurs="unbounded">
            <xs:element name="tool" type="game:Tool"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ToolParamValue">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Valor para el parámetro de una herramienta.]]>
            </xs:documentation>
        </xs:annotation>
        <xs:attribute name="param_id" type="xs:long" use="required"/>
        <xs:attribute name="tool_id" type="xs:long" use="required"/>
        <xs:attribute name="value" type="xs:string" default=""/>
        <xs:attribute name="add_flag_value" type="xs:boolean" default="false"/>
    </xs:complexType>

    <xs:complexType name="Tool">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Tool indica una herramienta para ocultar información dentro de algún elemento.]]>
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="hiding_type" type="game:HidingType" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="parameter" type="game:ToolParameter" maxOccurs="unbounded" minOccurs="0"/>
			<xs:element ref="dc:title" />
			<xs:element ref="dc:description" />
        </xs:sequence>
        <xs:attribute name="command" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="ToolParameter">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Contiene parámetros para una herramienta.]]>
            </xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element ref="dc:title" />
			<xs:element ref="dc:description" />
		</xs:sequence>
        <xs:attribute name="parameter" type="xs:string" use="required"/>
		<xs:attribute name="order" type="xs:int" use="required"/>
    </xs:complexType>
	
    <xs:complexType name="HidingType">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[Determina los tipos de ocultación de información.]]>
            </xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element ref="dc:title" />
			<xs:element ref="dc:description" />
		</xs:sequence>
    </xs:complexType>
</xs:schema>
